<% include ./includes/header.ejs %>

<div class="container">
<h1>Freda's Portfolio</h1>
<p>Here are some stuff that I made!</p>

<div class='demo'>
<img src="../img/bbs.gif" alt='bbs'>
<h3>Node.Js BBS app</h3>
<p>I created a bbs app using node.js.<a href=" https://bbshw.herokuapp.com/" target="_blank"> Here </a> is the live demo!</p>
<a type="button" class="btn btn-primary" href='https://bbshw.herokuapp.com/'>Live Demo</a>
<a type="button" class="btn btn-primary" href='https://github.com/fredad/bbshw'>Git Hub</a>
</div>

<div class='demo'>
<img src="../img/soundcloud.gif" alt='soundcloud'>
<h3>SoundCloud API Player</h3>
<p>I created a musci player using Soundcloud API.<a href="https://github.com/fredad/soundcloud" target="_blank"> Here </a> is the git hub!</p>
<a type="button" class="btn btn-primary" href='https://github.com/fredad/soundcloud'>Git Hub</a>
</div>

<div class='demo'>
<img src="../img/jukebox.png" alt='jukebox'>
<h3>Jukebox Player</h3>
<p>I created a jukebox kit using jquery.<a href="https://github.com/fredad/jukeboxkit" target="_blank"> Here </a> is the github!</p>
<a type="button" class="btn btn-primary" href='https://github.com/fredad/jukeboxkit'>Git Hub</a>
</div>
</br>
</div>

<% include ./includes/footer.ejs %>